/* src/components/ChatWidget.css */

.chatbot-enter {
    opacity: 0;
    transform: translateY(20px);
}
.chatbot-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
